# Tendência das Vendas

## Alucar - Analisando as Vendas

### Objetivo
Analisar se houve crescimento das vendas

#### Bibliotecas

In [1]:
import pandas as pd

In [4]:
# importando dataset
alucar = pd.read_csv("material curso - Time Series/alucar.csv", sep=',')

In [5]:
# visualizando os primeiros registros
alucar.head(5)

          mes  vendas
0  2017-01-31      10
1  2017-02-28      20
2  2017-03-31      33
3  2017-04-30      47
4  2017-05-31      63

In [6]:
# tamanho do dataset
print("Quantidade de linhas e colunas: ", alucar.shape)

 Quantidade de linhas e colunas:  (24, 2)

In [9]:
# verificando se há dados nulos
print("Quantidade de dados nulos", alucar.isna().sum().sum())

Quantidade de dados nulos 0