# Função ENUMERATE

## enumerate(sequência)

A função enuerate permite retornar o índice de cada valor em uma sequência, à medida que você percorre toda a sequência. Enumerate retorna uma <b>tupla</b> no formato <b>tupla(índice, valor)</b>

In [1]:
# Criando uma lista
seq = ['a', 'b', 'c']

In [2]:
enumerate(seq)

In [3]:
list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [4]:
# Imprimindo os valores de uma lista com a função enumerate() e seus respectivos índices
for indice, valor in enumerate(seq):
    print(indice, valor)

0 a
1 b
2 c

In [5]:
for indice, valor in enumerate(seq):
    if indice >= 2:
        break
    else:
        print(valor)

a
b

In [6]:
lista = ['Natalia', 'Marco', 'Dilminha']

In [8]:
for i, item in enumerate(lista):
    print(i+1, item)

1 Natalia
2 Marco
3 Dilminha

In [9]:
for i, item in enumerate('As arvores somos nozes'):
    print(i, item)

0 A
1 s
2
3 a
4 r
5 v
6 o
7 r
8 e
9 s
10
11 s
12 o
13 m
14 o
15 s
16
17 n
18 o
19 z
20 e
21 s

In [14]:
for i, item in enumerate(range(10)):
    print(i, item - 10)

0 -10
1 -9
2 -8
3 -7
4 -6
5 -5
6 -4
7 -3
8 -2
9 -1

## Fim