## Acessando banco de dados com Python

In [2]:
# Remove o arquivo com o bando de dados SQLite caso ele já exista
import os
os.remove('escola.db') if os.path.exists('escola.db') else None

In [3]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [4]:
# Cria uma conexão com o banco de dados 
# Se o BD não existir ele é criado neste momento 
con = sqlite3.connect('escola.db')

In [5]:
type(con)

sqlite3.Connection

In [6]:
# Criando um cursor
# (Um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

In [7]:
type(cur)

sqlite3.Cursor

In [8]:
# Cria uma instruçao sql
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [9]:
# Executando a instrução sql no cursor
cur.execute(sql_create)

In [10]:
# Criando outra instrução sql para inserir registros
sql_insert = 'insert into cursos values (?, ?, ?)'

In [11]:
# Dados
recset = [(1000, 'Ciência de Dados', 'Data Science'),
         (1001, 'Big Data Fundamentos', 'Big Data'),
         (1002, 'Python Fundamentos', 'Análise de Dados')]

In [12]:
#Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [13]:
# grava a transação
con.commit()

In [14]:
# criando outra instrução sql para selecionar registros
sql_select = 'select * from cursos'

In [16]:
# seleciona todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [17]:
# mostra
for linha in dados:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [18]:
# inserindo mais alguns registos
recset = [(1003, 'Gestão de Dados em MongoDB', 'Bid Data'),
         (1004, 'R fundamentos', 'Análise de Dados')]

# inserindo os registos
for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravando a Transação
con.commit()

In [19]:
#selecionando todos os registros
cur.execute(sql_select)

#Recuperanod os resultados
dados = cur.fetchall()

#Mostra
for linha in dados:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados em MongoDB, Categoria: Bid Data

Curso Id: 1004, Título: R fundamentos, Categoria: Análise de Dados

In [20]:
# Fechando a conexão
con.close()